.list_ctn_box__album {
    font-size:0;
    text-align: left;
}
.list_ctn_box__album > li{
    display:inline-block;
    vertical-align: top;
    width:12.5%;
    padding:0 4px 72px;
}
.list_ctn_box__album > li .img_box {
    /*width:342px;
    height:192px;*/
}
.list_ctn_box__album > li .img_box .icon__play {
    width:24px;
}
.list_ctn_box__album > li .info_box {
    padding:14px 12px;
    background: #fff;
}
.list_ctn_box__album > li .tit {
    font-size:14px;
    color:#5d5d5d;
    margin:0 0 6px;
}
.list_ctn_box__album > li .artist {
    font-size:13px;
    color:#aaa;
    margin:0 0 6px;
}
.list_ctn_box__album > li .date {
    font-size:13px;
    color:#aaa;
}
.list_ctn_box__album > li .btn__down {
    position:absolute;
    bottom:14px;
    right:12px;
    width:14px;
}