.list_ctn_box__artist {
    font-size:0;
    text-align: left;
}
.list_ctn_box__artist > li{
    display:inline-block;
    vertical-align: top;
    width:12.5%;
    padding:0 4px 72px;
}
.list_ctn_box__artist > li .img_box {
    /*width:342px;
    height:192px;*/
    border-radius: 100%;
    overflow: hidden;
}
.list_ctn_box__artist > li .info_box {
    padding:14px 12px;
    background: #fff;
}
.list_ctn_box__artist > li .artist {
    text-align: center;
    font-size:14px;
    color:#5d5d5d;
    margin:0 0 4px;
}
.list_ctn_box__artist > li .artist_group {
    text-align: center;
    font-size:14px;
    color:#aaa;
    margin:0 0 4px;
}
.list_ctn_box__artist > li .artist_position {
    text-align: center;
    font-size:14px;
    color:#aaa;
}