@charset "utf-8";
/* Reset Ver 1.0 */

/* base set */
html {
    position:relative;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-size:14px;
    color:#5d5d5d;
}
body {
    position: relative;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-text-size-adjust: none; /* iPhone font size uncontrol */

    font-family: 'NanumSquare', 'Dotum', 'Helvetica', 'AppleSDGothicNeo', sans-serif;
}
*, *:before, *:after {
    position:relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}
a {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height:inherit;
    color: inherit;
}
/* a tag case by case
a.phone {
    display:inline-block;
}
*/
a.full_link {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
img {
    vertical-align: top;
    border: none;
}
img.res {
    width: 100%;
    height: auto;
}
li, dl {
    list-style: none;
}
em {
    font-style: normal;
    font-weight: normal;
}
table {
    border-collapse: collapse;
}
.select_none {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.txt_adjust {
    letter-spacing: -1px;
}
.txt_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
::selection {
    background: #A6D7FC ;
}
::-moz-selection {
    background: #A6D7FC ;
}
/* font-icon set
i::selection {
    background: #A6D7FC ;
}
i::-moz-selection {
    background: #A6D7FC ;
}*/
img::selection,
img::-moz-selection{
    background: transparent
}
/* base set end */

/* object central location */
.x_center {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
}
.y_center {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}
.xy_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
/* object central location end */

/* font icon
.icon_box {
    line-height: 1 !important;
}
i {
    vertical-align:middle;
    font-size:inherit;
    line-height: 1 !important;
}
i:before {
    line-height: 1 !important;
}
.icon_txt {
    display:inline-block;
    vertical-align:middle;
    font-size:inherit;
}
font icon end */

/* form set */
/* --textarea */
textarea {
    overflow: auto;
    resize:none;
    min-height:4rem;
    padding:0.6rem 0.6rem;
    border:1px solid #ccc;
}
textarea:focus {
    outline: none;
    border:1px solid #ccc;
}
/* textarea end */

/* input */
.ipt {
    display:inline-block;
    vertical-align:middle;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height:inherit;
    text-align:left;
    background:none;
    outline:none;
    border:none;
    border-radius:0;
    padding:0 0 0 0;
    -webkit-appearance: none;
}
.ipt:focus {
    outline: none;
}
::placeholder {
    color: #ccc;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #ccc;
}
::-ms-input-placeholder {
    color: #ccc;
}
/* input end */

/* button */
button {
    display:inline-block;
    vertical-align:middle;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height:inherit;
    color: inherit;
    outline:none;
    border:none;
    border-radius:0;
    background: none;
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}
/* button end */

/* checkbox */
.check {
    display:inline-block;
    vertical-align:middle;
}
.check input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.check label {
    display:inline-block;
    vertical-align:middle;
    width:100%;
    padding:0 0 0 26px;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
}
.check label:before {
    content:"";
    display:block;
    position:absolute;
    left:0;
    /*top:50%;
    transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    -moz-transform:translate(0,-50%);
    -webkit-transform:translate(0,-50%);*/
    top:0;
    width:16px;
    height:16px;
    overflow:hidden;
    background:url(//image.theminda.com/file/common_img/icon__check_box.svg) no-repeat left 0;
    background-size: 16px 48px;
}
.check input:checked + label:before {
    background: url(//image.theminda.com/file/common_img/icon__check_box.svg) no-repeat left -16px;
    background-size: 16px 48px;
}
.check input:disabled + label:before {
    background: url(//image.theminda.com/file/common_img/icon__check_box.svg) no-repeat left -32px;
    background-size: 16px 48px;
}
/* checkbox end */

/* select */
.select {
    display:inline-block;
    vertical-align:middle;
}
/*
.select:after{
    content:"\f0023";
    font-family: "Minda-font_icon";
    position:absolute;
    top:50%;
    transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    right:12px;
    font-size:12px;
    color:#484848;
    text-align:center;
    cursor: pointer;
}*/
.select select::-ms-expand {
    display: none;
}
.select select:focus::-ms-value {
    background:none;
    color:inherit;
}
.select select {
    display:inline-block;
    vertical-align:middle;
    width:100%;
    font-family: inherit;
    font-size:inherit;
    font-weight: inherit;
    line-height:inherit;
    text-align:left;
    outline:none;
    border:none;
    border-radius:0;
    background: none;
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    font-size:15px;
    font-weight: 300;
    color:#484848;
    height:38px;
    line-height: 36px;
    padding:0 28px 0 12px;
    border-radius: 3px;
    border:1px solid #ccc;
    background: #fff url(//image.theminda.com/file/common_img/_icon__select.png) no-repeat 92% 50%;
}

/* select end */

/* uplaod */
.upload_label {
    display:inline-block;
    vertical-align:middle;
    cursor:pointer;
    line-height:2rem;
    font-size:0px;
    background:#fff;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.upload_label .upload {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload_label .upload_icn {
    font-size:1.6rem;
    margin:0 0.8rem 0 0;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}
.upload_label .icn_txt {
    font-size:1rem;
}
/* uplaod end */



/* submit */
.submit {
    display: inline-block;
    vertical-align:middle;
    font-family: inherit;
    outline: none;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius:0px;
    -webkit-border-radius:0px;
    -webkit-appearance: none;
}
@media screen and (min-width: 0px) and (max-width: 329px) {
    .submit {
        font-size:14px;
    }
}
.submit:focus {
    outline: none;
}
/* submit end */

/* fix for iPhone focus zoom
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select, textarea, input, .ipt{
        font-size: 16px;
    }
}
/* fix for iPhone focus zoom end */
/* form set end */

/* grid */
.grid {
    overflow: hidden;
    width: 100%;
    font-size: 0;
}
.grid .grid_inner {
}
.grid .grid_itm {
    display: inline-block;
    vertical-align: top;
}
.grid .grid_itm:last-child {
    margin-right: 0;
}
.grid.grid2 .grid_itm {
    width: 50%;
}
.grid.grid3 .grid_inner{
    width: 101%;
    margin-left: -0.5%;
}
.grid.grid3 .grid_itm:first-child {
    margin-left: 0.5%;
}
.grid.grid3 .grid_itm:last-child {
    margin-right: 0.5%;
}
.grid.grid3 .grid_itm {
    width: 33%;
}
.grid.grid4 .grid_itm {
    width: 25%;
}
.grid.grid5 .grid_itm {
    width: 20%;
}
.grid.grid6 .grid_inner{
    width: 101%;
    margin-left: -0.5%;
}
.grid.grid6 .grid_itm {
    width: 16.5%;
}
.grid.grid6 .grid_itm:first-child {
    margin-left: 0.5%;
}
.grid.grid6 .grid_itm:last-child {
    margin-right: 0.5%;
}
.grid.grid7 .grid_inner{
    width: 102%;
    margin-left: -1%;
}
.grid.grid7 .grid_itm {
    width: 14%;
}
.grid.grid7 .grid_itm:first-child {
    margin-left: 1%;
}
.grid.grid7 .grid_itm:last-child {
    margin-right: 1%;
}
.grid.grid8 .grid_itm {
    width: 12.5%;
}
.grid.grid9 .grid_inner{
    width: 101%;
    margin-left: -0.5%;
}
.grid.grid9 .grid_itm:first-child {
    margin-left: 0.5%;
}
.grid.grid9 .grid_itm:last-child {
    margin-right: 0.5%;
}
.grid.grid9 .grid_itm {
    width: 11%;
}
/* grid end */

/* Info Pop Set*/
.info_pop {
    position: relative;
    display: none;
    width: 80%;
    min-width: 310px;
    max-width: 360px;
    font-size: 0;
}
.info_pop .tit_area {
    position: relative;
    background: #00897B;
    border-radius: 4px 4px 0 0; /* Always Changeable */
}
.info_pop .tit_area .tit {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 40px);
    padding: 0 0 0 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.info_pop .tit_area .close {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    width: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
}
.info_pop .ctn_area {
    position: relative;
    padding: 16px;
    background: #fff;
    border: 1px solid #bbb;
    border-top: none;
    border-radius: 0 0 4px 4px;
}
.info_pop .ctn_area .txt {
    position: relative;
    text-align: center;
    margin-bottom: 14px;
    font-size: 14px;
}
.info_pop .ctn_area .pop_form_box {
    position: relative;
    text-align: center;
    font-size: 0;
}
.info_pop .ctn_area .pop_form_box .ipt {
    width: 120px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #ddd;
    margin: 0 8px 0 0;
}
.info_pop .ctn_area .pop_form_box .ipt:focus {
    border: 1px solid #6993CD;
}
.info_pop .ctn_area .pop_form_box .submit {
    width: 60px;
    line-height: 32px;
    background: #6993CD;
    border-radius: 4px;
    margin: 0 8px 0 0;
    color: #fff;
    font-weight: 700;
}
.info_pop .ctn_area .pop_form_box .cancel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 60px;
    line-height: 32px;
    background: #444;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.info_pop .ctn_area .info_box{
    position: relative;
    display: none;
    text-align: center;
    margin-top: 14px;
    color: crimson;
    font-size: 14px;
}
/**/

/* Document */
.info_pop.document {
    display: none;
    max-width: 720px;
}
.info_pop.document .ctn_area {
    background: #f1f1f1;
}
.info_pop.document .ctn_area .pop_form_box {
    padding: 1.5%;
}
.info_pop.document .ctn_area .pop_form_box .ipt.document {
    outline: none;
    width: 100%;
    min-height: 300px;
    height: 40vh;
    padding: 1rem;
    margin: 0 0;
}
.info_pop.document .ctn_area .pop_form_box .ipt.document:focus {
    outline: none;
    border: 1px solid #ddd;
}
/**/

/* video_module */  /* fixed */
/* video_outter -> video_module & video_pop -> video_close & iframe */
/* <iframe width='1280' height='720'  src='//www.youtube.com/embed/poD7soEt5M0?VQ=HD720&autoplay=0&loop=1&rel=0&showinfo=0&controls= 0&enablejsapi=1&wmode=transparent&hd=1' wmode='Opaque' frameborder='0' allowfullscreen/></iframe> */
.video_pop_outter {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.video_pop_outter.on {
    opacity: 1;
    visibility: visible;
    transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.video_pop_outter .video_pop {
    position: absolute;
}
.video_pop {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 980px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    font-size: 0;
    box-shadow: 0.6rem 0.6rem 0 #FFE082;
    /*opacity:0;
    visibility:hidden;
    transition:all ease 0.3s;
    -ms-transition:all ease 0.3s;
    -moz-transition:all ease 0.3s;
    -webkit-transition:all ease 0.3s;*/
}
.video_pop > .ratio_inner {
    padding-top: 56.25%;
}
.video_pop > .ratio_inner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    /*box-shadow: 8px 8px 0 #6993CD;*/
}
.video_close {
    position: absolute;
    text-align: center;
    cursor: pointer;
    top: -4rem;
    right: 0;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
}
.video_close .material-icons{
    color: #fff;
    font-size: 3rem;
}
/* video_module end */

/* naver_map_module */
/*.map_canvas {
    height: 408px; /* Always Changeable */
/*background: #fff;
/*border: 1px solid #fff;*/
/*}*/
/*.map_canvas .map_marker {
    text-align: center;
    padding: 0.4rem 0.4rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #777;
    font-size: 0.8rem;
    word-break: keep-all;
}*/
/* naver_map_module end */

/* marketing script visibility hidden */
iframe[name='google_conversion_frame'] {
    float: left;
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    margin-top: -13px;
    font-size: 0 !important;
}
/* marketing script visibility hidden end */